<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Mustafina_glazkiEntities" connectionString="metadata=res://*/Mustafina_glazki.csdl|res://*/Mustafina_glazki.ssdl|res://*/Mustafina_glazki.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DANAAA;initial catalog=Mustafina_glazki;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>